div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.navbar > li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}

.navbar a {
  font-size: 16px;
  text-decoration: none;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  text-align: center;
  position: relative;
}

.main-button {
  padding: 15px;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 130px;
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 100px;
}

.main-content {
  color: white;
}

.explain-box {
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  position: relative;
  top: -40px;
}

.blog-content {
  width: 80%;
  height: 200px;
  background: #eee;
  float: left;

  top: 100px;
}

.blog-profile {
  width: 50px;
  display: block;
  float: left;
}

.blog-name {
  float: left;
}

.blog-img {
  width: 20%;
  height: 200px;
  /* background: yellow; */
  float: left;
}

.form-background {
  background-color: black;
  padding: 30px;
}

.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.yellow-button {
  width: 100px;
  padding: 10px;
  display: block;
  float: right;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
}

.w-100 {
  width: 100%;
  padding: 10px;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
}

.left-menu {
  width: 60%;
  height: 400px;
  /* background: cornflowerblue; */
  float: left;
}

.right {
  width: 40%;
  height: 400px;
  background: coral;
  float: right;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  clear: both;
}

.box {
  width: 200px;
  background-color: cadetblue;
  margin: 10px;
  padding: 40px;
  /* border: 4px solid black; */
  border-radius: 15px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 10px;
  color: aliceblue;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 1);
}
