.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
}

.content {
  text-align: center;
}

.box {
  width: 200px;
  background-color: cadetblue;
  margin: 10px;
  padding: 40px;
  /* border: 4px solid black; */
  border-radius: 15px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 10px;
  color: aliceblue;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 1);
}
